.button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #FEE3E3;
  border: none;
  cursor: pointer;
  transition: .2s;

  svg path {
    transition: .2s;
    fill: #C53030;
  }
}

.button:hover {
  background: #FED7D7;

  svg path {
    fill: #9B2C2C;
  }
}

.disabled {
  background: transparent;

  svg path {
    fill: #9DA6B4;
  }
}

.disabled:hover {
  background: transparent;

  svg path {
    fill: #9DA6B4;
  }
}

