.tableContainer {
  border: 1px solid #E0E5EB;
  border-radius: 12px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  min-width: 800px;
}

.tableHead {
  height: 32px;

  th {
    position: sticky;
    background-color: #F0F3F7;
    top: 0;
    z-index: 1;
    font-size: 13px;
    font-weight: 500;
    color: #697180;
    padding: 0 12px;
    text-align: left;
  }
}

.tableBody {
  background-color: #FFFFFF;

  tr {
    height: 52px;
    cursor: pointer;

    td {
      color: #1F2939;
      font-size: 14px;
      line-height: 20px;
      padding: 0 12px;
      text-align: left;
    }
  }

  tr:not(:last-child) {
    border-bottom: 1px solid #E0E5EB;
  }

  tr:hover {
    background-color: #F7F8F9;
    transition: .2s;
  }
}

.footer {
  height: 48px;
  background: #FFFFFF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 8px;
  border-top: 1px solid #E0E5EB;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.paginator {
  display: flex;
  gap: 8px;
}
